h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  color: #000000;
  text-align: center;
}

.gallery-row {
  display: flex;
  gap: 55px; 
}

.gallery-row img {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

